/Ques02_checkIfIthBitSet.class
/Ques03_checkOddOrEven.class
/Ques04_checkIfPowerof2.class
/Ques05_countSetBits.class
/Ques06_setTheRightmostUnsetBit.class
/Ques09_noThatAppearOddNoOfTimes.class
/miscQues01_findUniqueNumber.class
/miscQues02_swapTwoNumbers.class
/miscQues03_XorrTillN.class
/miscQues04_xorrBetweenARange.class
