/Ques01_binarySearch.class
/Ques02_ImplementLowerBound.class
/Ques03_ImplementUpperBound.class
/Ques04_SearchInsertPosition.class
/Ques05_floorAndceil.class
/Ques06_FirstAnsLastOccurance.class
/Ques07_CountOccurancesofAnElement.class
/Ques08_SearchInRotatedArray.class
/Ques09_SearchInRotatedArray2.class
/Ques10_minimumInRotatedArray.class
/Ques11_NoOfRotationsToArray.class
/Ques13_PeakElement.class
/Ques14_findSquareRoot.class
/Ques15_NthRootOfNumber.class
/Ques16_KokoEatingBananas.class
/Ques17_findPivotElement.class
/Ques18_minimumDaysTomakeBouquests.class
