/Ques1_printNameNTimes.class
/Ques2_print1toN.class
/Ques3_printNto1.class
/Ques4_SumOfFirstN.class
/Ques5_factorialOfN.class
/Ques7_reverseArray.class
/Ques8_checkPallindromeString.class
/Ques9_fibonacciNo.class
/miscQues1_powerOfX.class
/miscQues2_numberOfDigits.class
/miscQues3_isArraySorted.class
/miscQues4_sumOfArrayElements.class
/miscQues5_checkNumberInArray.class
/miscQues6_firstIndexOccurance.class
/miscQues7_lastIndexOccurance.class
/miscQues8_multiplicationRecursive.class
/miscQues9_countZeros.class
