/Ques1_countDigits.class
/Ques2_reverseANumber.class
/Ques3_checkPallindrome.class
/Ques4_gcdOrHCF.class
/Ques5_ArmstrongNumber.class
/Ques6_printAllDivisors.class
/Ques7_checkForPrime.class
/Ques8_printAllPrimeTillN.class
